<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Keycloak Example App
      </ion-title>
      <ion-buttons slot="end"> 
        <ion-button *ngIf="hasValidAccessToken" (click)="logout()" color="danger">Logout</ion-button>
        <ion-button *ngIf="!hasValidAccessToken" (click)="login()" color="success">Login</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-router-outlet *ngIf="hasValidAccessToken"></ion-router-outlet>
    <div id="container" *ngIf="!hasValidAccessToken">
      <!-- Content goes here -->
    </div>
  </ion-content>
</ion-app>

