<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Animal APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" >Animal APP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="full" (click)="navigateToHomePage()" color="success">Get to home page</ion-button>
</ion-content>