<ion-content style="height: calc(100vh - 150px); overflow: auto;">
  <ion-card *ngFor="let animal of animals" style="margin-top: 20px;">
    <ion-card-content>
      {{ animal.name }} - {{ animal.type }}
      <ion-button (click)="openUpdateAnimalModal(animal)">Update</ion-button>
      <ion-button (click)="deleteAnimal(animal.id)" color="danger">Delete</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-button (click)="openCreateAnimalModal()" style="margin-top: 20px;">Add Animal</ion-button>
