<ion-header>
  <ion-toolbar>
    <ion-title>Update Animal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="danger">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <form #animalForm="ngForm" (ngSubmit)="updateAnimal(animalForm)">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="animal.name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Type</ion-label>
      <ion-input type="text" name="type" [(ngModel)]="animal.type" required></ion-input>
    </ion-item>
    <!-- Add other fields as needed -->
    <ion-button type="submit" expand="block" color="success">Update Animal</ion-button>
  </form>
</ion-content>
